<section>
  <div class="text">
    <span class="calligraphy">Testimonials</span>
    <div class="header-text">
      <span class="yellow">Wha</span><span>t our clients are saying</span>
    </div>
  </div>
  <div class="reviewContainer">
    <div
      class="review fade"
      *ngFor="let review of reviews; let i = index"
      [ngClass]="{ 'active-review': selectedIndex === i }"
    >
      <div><img [src]="review.imgUrl" alt="user" id="userImg" /></div>
      <div class="decoration">
        <img src="assets/icons/quote.png" alt="quote" id="quote" />
      </div>
      <div class="user-info">
        <div class="paragraph-text">
          {{ review.text }}
        </div>
        <div><img [src]="review.reviewStar" alt="stars" class="stars" /></div>
        <div class="personal bold-text">{{ review.name }}</div>
        <div class="personal">{{ review.subText }}</div>
      </div>
      <img
        src="assets/images/bg-decoration.png"
        alt="decoration"
        id="bg-decoration"
      />
    </div>
    <div class="dot-container">
      <span
        *ngFor="let dot of reviews; let i = index"
        class="dot"
        [ngClass]="{ active: selectedIndex === i }"
        (click)="selectReview(i)"
      ></span>
    </div>
  </div>
</section>
