section {
  margin: 100px 0;
  font-family: sans-serif, Helvetica;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.error {
  font-size: 96px;
  font-weight: 700;
  line-height: 104px;
  color: #ff9f0d;
}

.errorText {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.pageNotFound {
  font-family: sans-serif, Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

button {
  color: white;
  background: #ff9f0d;
  padding: 16px 30px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
}
