$yellow-base: #ff9f0d;
$dark-gray: #0d0d0d;

section {
  font-family: Helvetica, sans-serif;
}

.images-category {
  display: flex;
  justify-content: center;
  gap: 20px;

  div {
    width: 19%;
    height: 19%;
  }
}

figure {
  border-radius: 14px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $dark-gray;
  overflow: hidden;

  & img {
    transform: scale(1);
    transition: 0.4s ease-in-out;
    width: 100%;
    height: 100%;
  }

  &:hover {
    opacity: 1;
  }

  &:hover img {
    transform: scale(1.1);
    width: 100%;
    height: 100%;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  .calligraphy {
    font-family: "Great Vibes", cursive;
    font-size: 32px;
    line-height: 40px;
    color: $yellow-base;
  }

  .header-text {
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  .yellow {
    color: $yellow-base;
  }
}

.special-discount {
  position: relative;
  font-family: sans-serif, Inter;

  .discount {
    background: white;
    color: $yellow-base;
    border-radius: 3px;
    padding: 7px 15px;
    font-weight: bold;
    font-size: 1vw;
    position: absolute;
    left: 29%;
    top: 45%;
  }

  .discount-add {
    background: $yellow-base;
    color: white;
    padding: 9px 20px;
    border-radius: 3px;
    position: absolute;
    font-size: 1.1vw;
    left: 0;
    top: 60%;
  }
}
