@import url("https://fonts.cdnfonts.com/css/miniver");

section {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  img {
    width: 11vw;
    height: 9vw;
  }

  .calligraphy {
    font-family: Miniver, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #ff9f0d;
  }

  .header-text {
    font-family: sans-serif, Helvetica;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }
  .yellow {
    color: #ff9f0d;
  }
}

.partners {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background: rgb(190, 187, 200);
  background: linear-gradient(
    22deg,
    rgba(190, 187, 200, 1) 13%,
    rgba(247, 191, 18, 1) 92%
  );
}
