<section>
  <img src="assets/images/bg1.png" alt="food" class="bg-img" />
  <div class="social">
    <hr />
    <div>
      <img src="assets/icons/facebook.png" alt="facebook" />
      <img src="assets/icons/twitter.png" alt="twitter" />
      <img src="assets/icons/pinterest.png" alt="pinterest" />
    </div>
    <hr />
  </div>
  <div class="text">
    <span class="calligraphy">Its Quick & Amusing!</span>
    <div class="header-text">
      <span><span class="yellow">Th</span>e Art of speed </span><br /><span>
        food Quality</span
      >
    </div>
    <div class="small-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius sed
      pharetra dictum neque massa congue
    </div>
    <button class="see-menu">See Menu</button>
  </div>
  <div class="main-img">
    <img src="assets/images/mainImg.png" alt="salad" />
  </div>
</section>
