<section>
  <img src="assets/images/bg1.png" alt="food" class="bg-img" />
  <div class="social">
    <hr />
    <div>
      <a
        *ngFor="let socialMedia of socialMedias"
        href="{{ socialMedia.link }}"
        target="_blank"
        ><img src="{{ socialMedia.imgUrl }}" alt="socialMedia"
      /></a>
    </div>
    <hr />
  </div>
  <div class="text">
    <span class="calligraphy">Its Quick & Amusing!</span>
    <div class="header-text">
      <span><span class="yellow">Th</span>e Art of speed </span><br /><span>
        food Quality</span
      >
    </div>
    <div class="small-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Varius sed
      pharetra dictum neque massa congue
    </div>
    <button class="see-menu" [routerLink]="menuLink">See Menu</button>
  </div>
  <div class="main-img">
    <img src="assets/images/mainImg.png" alt="salad" />
  </div>
</section>
