@use "src/styles";

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: sans-serif, Inter;
  gap: 6.4vw 1.7vw;
  justify-content: center;
  align-items: center;
}

.product {
  position: relative;
  width: 17vw;
  cursor: pointer;

  img {
    width: 17vw;
  }
}

.menu-navigation {
  margin: 40px 0;
  padding-top: 70px;
  display: flex;
  gap: 10px;
  justify-content: center;

  div {
    border: 1px solid styles.$yellow-base;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: styles.$yellow-base;
    font-weight: bold;
    background: styles.$dark-gray;
    font-family: sans-serif, Inter;
  }

  div:hover {
    color: styles.$white-base;
    background: styles.$yellow-base;
    box-shadow: 1px 1px 10px styles.$yellow-base;
    cursor: pointer;
    transition: ease-in-out 0.3s;
  }
}
