<nav class="header">
  <div class="logo" [routerLink]="links[0].to">
    <span class="yellow">Food</span><span>tuck</span>
  </div>
  <div class="nav-links">
    <div
      class="link"
      *ngFor="let link of links"
      [routerLink]="link.to"
      routerLinkActive="link--active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      {{ link.text }}
    </div>
  </div>
  <div class="nav-right">
    <div id="searchBar">
      <input type="text" placeholder="Search..." />
      <img src="assets/icons/searchIcon.png" alt="search" id="searchIcon" />
    </div>
    <div class="nav-icons">
      <span
        [routerLink]="LoginUrl()"
        routerLinkActive="link--active2"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navIcon"
        ><img src="assets/icons/userIcon.png" alt="user" />
      </span>
      <span
        [routerLink]="CardUrl()"
        routerLinkActive="link--active2"
        [routerLinkActiveOptions]="{ exact: true }"
        class="navIcon cart-icon"
        ><img src="assets/icons/shopIcon.png" alt="shop" />
        <div class="cart-total">{{ cartService.CartQuantity }}</div>
      </span>
    </div>
  </div>
</nav>
