<ng-template #elseBlock>
  <div class="empty-cart">
    <h2>Your cart is empty</h2>
    <button [routerLink]="menu">Shop now!</button>
  </div>
</ng-template>
<section *ngIf="products.length > 0; else elseBlock">
  <div class="cart-category">
    <span>Product</span>
    <span>Price</span>
    <span>Quantity</span>
    <span>Total</span>
    <span>Remove</span>
  </div>
  <div *ngFor="let product of products">
    <app-cart-product [item]="product"></app-cart-product>
  </div>
  <div class="bill">
    <div class="bill-left">
      <div class="bill-header">Coupon Code</div>
      <div class="coupon-container">
        <div class="text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque diam
          pellentesque bibendum non
        </div>
        <div class="activate-coupon">
          <input type="text" placeholder="Enter here Code" />
          <button>Apply</button>
        </div>
      </div>
    </div>
    <div class="bill-right">
      <div class="bill-header">Total Bill</div>
      <div class="external-container">
        <div>
          <div class="text-special bold price-container price-container-bold">
            <span>Cart Subtotal</span><span>${{ totalPrice }}</span>
          </div>
          <div class="text price-container">
            <span>Shipping Charge</span><span>${{ shipping }}</span>
          </div>
        </div>
        <hr />
        <div class="text-special bold price-container price-container-bold">
          <span>Total Amount</span><span>${{ totalPriceWithShipping }}</span>
        </div>
      </div>
      <button (click)="finishOrder()">
        <span>Proceed to Checkout</span
        ><img src="assets/icons/checkOrderIcon.png" alt="check" />
      </button>
    </div>
  </div>
</section>
