<footer>
  <div class="footer-top">
    <div class="support">
      <span class="largeText"
        ><span class="yellow">Still</span> Need Our Support ?</span
      >
      <span class="smallText"
        >Don’t wait make a smart & logical quote here. Its pretty easy.</span
      >
    </div>
    <div class="sendEmail">
      <input type="text" placeholder="Enter your E-mai" />
      <button>Subscribe Now</button>
    </div>
  </div>
  <hr />
  <div class="footer-mid">
    <div class="aboutUs">
      <div class="footer-about">
        <span class="header-text">About Us</span>
        <span
          >Corporate clients and leisure travelers has been relying on
          Groundlink for dependab safe, and professional chauffeured car service
          in major cities across World.</span
        >
      </div>
      <div class="work-hours">
        <span class="footer-icon-clock"
          ><img src="assets/icons/clockIcon.png" alt="clock"
        /></span>
        <div class="work-hours-text">
          <span>Opening Hours</span>
          <span>Mon - Sat(8.00 - 6.00)</span>
          <span>Sunday - Closed</span>
        </div>
      </div>
    </div>
    <div class="list">
      <span class="header-text">Useful Links</span>
      <a href="#" *ngFor="let optionLink1 of optionLinks1">{{
        optionLink1.text
      }}</a>
    </div>
    <div class="list">
      <span class="header-text">Help?</span>
      <a href="#" *ngFor="let optionLink2 of optionLinks2">{{
        optionLink2.text
      }}</a>
    </div>
    <div class="posts">
      <span class="header-text">Recent posts</span>
      <div class="post" *ngFor="let post of posts">
        <img [src]="post.imgUrl" alt="food" />
        <div>
          <span class="opac">{{ post.date }}</span>
          <span>{{ post.text }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span>Copyright © 2022 by Elena. All Rights Reserved.</span>
    <div class="social">
      <a href="{{socialMedia.text}}" target="_blank" class="socialMedia" *ngFor="let socialMedia of socialMedias">
        <img [src]="socialMedia.imgUrl" alt="social-media" class="icon" />
      </a>
    </div>
  </div>
</footer>
