<footer>
  <div class="footer-top">
    <div class="support">
      <span class="largeText"
        ><span class="yellow">Still</span> Need Our Support ?</span
      >
      <span class="smallText"
        >Don’t wait make a smart & logical quote here. Its pretty easy.</span
      >
    </div>
    <div class="sendEmail">
      <input type="text" placeholder="Enter your E-mai" />
      <button>Subscribe Now</button>
    </div>
  </div>
  <hr />
  <div class="footer-mid">
    <div class="aboutUs">
      <div class="footer-about">
        <span class="header-text">About Us</span>
        <span
          >Corporate clients and leisure travelers has been relying on
          Groundlink for dependab safe, and professional chauffeured car service
          in major cities across World.</span
        >
      </div>
      <div class="work-hours">
        <span class="footer-icon-clock"
          ><img src="assets/clockIcon.png" alt="clock"
        /></span>
        <div class="work-hours-text">
          <span>Opening Hours</span>
          <span>Mon - Sat(8.00 - 6.00)</span>
          <span>Sunday - Closed</span>
        </div>
      </div>
    </div>
    <div class="list">
      <span class="header-text">Useful Links</span>
      <a href="#">About</a>
      <a href="#">News</a>
      <a href="#">Partners</a>
      <a href="#">Team</a>
      <a href="#">Menu</a>
      <a href="#">Contacts</a>
    </div>
    <div class="list">
      <span class="header-text">Help?</span>
      <a href="#">FAQ</a>
      <a href="#">Term & conditions</a>
      <a href="#">Reporting</a>
      <a href="#">Documentation</a>
      <a href="#">Support Policy</a>
      <a href="#">Privacy</a>
    </div>
    <div class="posts">
      <span class="header-text">Recent posts</span>
      <div class="post">
        <img src="assets/footerImg1.png" alt="food" />
        <div>
          <span class="opac">20 Feb 2022</span>
          <span>Keep Your Business </span>
        </div>
      </div>
      <div class="post">
        <img src="assets/footerImg2.png" alt="food" />
        <div>
          <span class="opac">20 Feb 2022</span>
          <span>Keep Your Business </span>
        </div>
      </div>
      <div class="post">
        <img src="assets/footerImg3.png" alt="food" />
        <div>
          <span class="opac">20 Feb 2022</span>
          <span>Keep Your Business </span>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span>Copyright © 2022 by Elena. All Rights Reserved.</span>
    <div class="social">
      <a href="#" class="socialMedia">
        <img src="assets/footerFacebook.png" alt="facebook" />
      </a>
      <a href="#" class="socialMedia">
        <img src="assets/footerTwitter.png" alt="twitter" class="icon" />
      </a>
      <a href="#" class="socialMedia">
        <img src="assets/footerInstagram.png" alt="instagram" class="icon" />
      </a>
      <a href="#" class="socialMedia">
        <img src="assets/footerYouTube.png" alt="youtube" class="icon" />
      </a>
      <a href="#" class="socialMedia">
        <img src="assets/footerPinterest.png" alt="pinterest" class="icon" />
      </a>
    </div>
  </div>
</footer>
